@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900,900italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,700);
@font-face {
	font-family: 'icons';
	src:url('icomoon.eot?vmy9wu');
	src:url('icomoon.eot?#iefixvmy9wu') format('embedded-opentype'),
		url('icomoon.ttf?vmy9wu') format('truetype'),
		url('icomoon.woff?vmy9wu') format('woff'),
		url('icomoon.svg?vmy9wu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*General style*/
body{ color: #222; font-size: 12px; font-family: "Lato",Arial,Sans-serif; font-weight: 400;}
h1{ font-family: 'Montserrat', sans-serif; font-size: 60px; font-weight: 400; letter-spacing: 0.5px;}
h2,h3,h4{ font-family: "Lato";font-weight: 900; color: #222; letter-spacing: -0.25px;}
h2{ font-size: 32px;}
h3{ font-size: 24px;}
h4{ font-size: 20px;}
h5{font-family: "Lato",Arial,Sans-serif; font-weight: 300; font-size: 24px;}
h6{font-family: "Lato",Arial,Sans-serif; font-weight: 700; font-size: 16px; letter-spacing: 0.5px;}
a{font-family: "Lato",Arial,Sans-serif; font-weight: 400; font-size: 12px;}
a:hover{ font-weight: 700;}
div.selector{ background: #fff url(../images/icon_arrow_down.png) no-repeat center right;}


.topmenu-mb{display: none;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner{ max-width:1182px;}

/*Style header*/
.header{ margin:0; border: none;}
.header a{text-decoration: none;}
#Header{ background: #040707; margin: 0;border-top: 1px solid #ddd;}
#Header>.inner{ background: #040707;}
.TopMenu .inner{ padding: 0;}
.TopMenu li{ float: left; border-left: 1px solid #ddd; height: 30px; line-height:30px; padding: 14px 20px;}
.TopMenu, .TopMenu a{ font-size: 12px; font-family: "Lato",Arial,Sans-serif; color: #000; font-weight: 400;}
.TopMenu li.js-drawermenu-store-phone-container{  border-right: 1px solid #ddd;padding-left: 0;padding-right: 0;text-align: center;width: 239px; }
.phoneIcon{ font-size: 14px; color: #000;font-family: "Lato",Arial,Sans-serif; font-weight: 700; }
.TopMenu li.top-header-search{ width: 34.3%; background: #f7f7f7; border: none;}
.TopMenu li.top-header-store-locations a{display: block;padding: 0 17px 2px;line-height: 28px;background: #3abdb3;border-radius: 30px;color: #fff;}
.TopMenu li.top-header-store-locations a:hover{background: #5dd9d0;}
#SearchForm{ width: 100%; border:none; background-color: #f7f7f7; }
#SearchForm input{ height: 30px; padding: 0;}
#SearchForm input.Textbox{  background-color: #f7f7f7; font-size: 18px; color: #7e7e7e; font-family: "Lato",Arial,Sans-serif; font-weight: 300;}
#SearchForm .Button{ height: 30px; background: url(../images/icon-search.png) 50% 50% no-repeat transparent;}
.header-logo{ width: 240px; height: 136px;position: relative;z-index: 51;}
.header-logo a, .header-logo a:hover{ display: block; position: relative; z-index: 9999;}

.icon-cart{width: 17px;height: 17px;background: url(../images/cart-ic.png) no-repeat;background-size: 17px auto;margin: 7px 0 0;}
.TopMenu li.First a,
.TopMenu .CartLink a{display: block;position: relative;padding-right: 15px;vertical-align: top;}
.TopMenu li.First a:before,
.TopMenu .CartLink a:before{width: 9px;height: 6px;position: absolute;top: 12px;right: 0;content: "";background: url(../images/arr-down.png) no-repeat;background-size: 9px auto;}

/*Top slide*/
.top-slide{ background: #fff url(../images/bg-top-slide.png) top left no-repeat; padding: 30px 0; max-width: 1182px; margin: 0 auto;}
.top-slide ul{ margin:0;}
.top-slide ul li{ width: 33%; display: inline-block; list-style-type: none; text-align: center; border-left: 1px solid #000;}
.top-slide ul li:first-child{ border-left: none;}
.top-slide ul li h3{ color: #000; font-size: 15px; font-weight: 700; padding:0;}
.top-slide ul li span{ color: #999; display:inline-block; width: 100%;}

/*Slide show*/
.slide-show{ width: 74.53%; float:left; margin: 0 1.67% 0 0;}
.slide-show .slide-overlay{left: 9%; text-align: left;}
.slide-show h2, .slide-show .slide-text{ text-transform: uppercase; background: #040707; font-size: 68px; line-height: 58px; font-family: 'Montserrat', sans-serif; font-weight:700; letter-spacing: -2px; text-shadow: none;display: inline-block;}
.slide-show h2{ padding: 10px 15px 20px;}
.slide-show .slide-text{ padding: 0 15px 10px; margin-top: -20px;}
.slide-show .slide-button .btn{ background-color: #3abdb3; height: 47px; line-height: 47px; font-size: 13px; font-weight:700;}
.flex-direction-nav .flex-prev{ background: url(../images/left-arrow.png) no-repeat;width: 44px;height: 44px;bottom: auto;right: auto;top: -60px;left: 0;margin: 0;}
.flex-direction-nav .flex-next{ background: url(../images/right-arrow.png) no-repeat;width: 44px;height: 44px;bottom: auto;right: 0;top: -60px;left: auto;margin: 0;}
.flexslider:hover .flex-next, .flexslider:hover .flex-prev{opacity: 0.5;}
.flex-control-paging li a {border: 2px solid #d6d6d7;}
.flex-control-paging li a:hover { background: #d6d6d7; }
.flex-control-paging li a.flex-active { background: #d6d6d7; }
.flex-control-nav{ position: absolute; left: 15px; text-align: left;}
#TileRight{ width: 23.8%; float: left;}
#TileRight ul{ margin:0;}
#TileRight ul li{ list-style-type: none; position: relative; margin-bottom: 17px;}
#TileRight ul li .slide-overlay{ position: absolute; }
#TileRight ul li .slide-overlay h2.slide-heading{padding: 0 0 15px 0; font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 24px; font-weight: 400; color: #fff; text-transform: uppercase; letter-spacing: 1px;}
#TileRight ul li .slide-overlay .btn{ background-color: transparent; border: 1px solid #fff; height: 40px; line-height: 40px; padding: 0 22px;width: auto;display: inline-block;}
#TileRight ul li.tile-1 .slide-overlay{ text-align: center; top: 20%;}
#TileRight ul li.tile-1 .slide-overlay h2.slide-heading{ width: 80%; margin: 0 auto;}
#TileRight ul li.tile-1 .slide-overlay .button-locate span{ display: inline-block; margin: 0 5px;}
#TileRight ul li.tile-2 .slide-overlay{ top: 10%; left: 7%;}
#TileRight ul li.tile-2 .slide-overlay h2.slide-heading{ width: 58%;}
#TileRight ul li.tile-3 .slide-overlay{ top: 10%; text-align: center;}
#TileRight ul li.tile-3 .slide-overlay h2.slide-heading{ width: 60%; margin: 0 auto;}
#TileRight ul li.tile-3 .slide-overlay .slide-text{ font-size: 12px; margin-bottom: 15px; color: #fff;}

/*block homepage*/
#PromArea{clear: both;width: 100%; border-top: 1px solid #030303; margin-top: 22px;}
#PromArea #x3-row ul{ margin: 0 0 20px 0; width: 100%; border-bottom: 1px solid #030303; padding: 30px 0;}
#PromArea #x3-row ul li{ width: 33%; display: inline-block; list-style-type: none; text-align: center;;vertical-align: top;}
#PromArea #x3-row ul li:nth-child(2){ border-left: 1px solid #030303; border-right: 1px solid #030303;}
#PromArea #x3-row ul li .slide-heading{ font-size: 24px; color: #000; font-family: 'Montserrat', sans-serif; font-weight: 400; text-transform: uppercase; letter-spacing: -1px; padding-bottom: 5px;}
#PromArea #x3-row ul li a{ border: 1px solid #030303; text-transform: uppercase; font-size: 13px; font-weight: 700; text-align: center; width: 120px; height: 20px; display: inline-block; margin: 0 auto;line-height: 21px;padding: 10px 0;font-family: 'lato';}
#PromArea #x3-row ul li a:hover{color: #333;box-shadow: 2px 3px 0 0 #000;-webkit-box-shadow: 2px 3px 0 0 #000;}
#PromArea #x3-row ul li p{ margin-bottom: 15px; font-size: 12px;font-family: 'lato';font-weight: 300;}
#PromArea #CategoryDrivers{display: inline-block;vertical-align: top; width: 100%; margin-top: 22px;}
#PromArea #CategoryDrivers ul{ width: 100%; float: left; margin: 0;}
#PromArea #CategoryDrivers ul li{ list-style-type: none; float: left; width: 49.15%; margin: 0 0 20px 1.7%;text-align: left; position: relative;}
#PromArea #CategoryDrivers ul li:nth-child(2n+1){clear: both;margin-left: 0;}
#PromArea #CategoryDrivers ul li .text-group-1 {position: absolute; left: 7%; bottom: 15%;}
#PromArea #CategoryDrivers ul li .text-group-1 div{ background: #3abdb3; padding: 20px; font-family: 'Montserrat', sans-serif; color: #fff; font-size: 24px; font-weight: 400; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-1 span.big-text{ font-size: 58px; font-weight: 700; line-height: 46px;}
#PromArea #CategoryDrivers ul li .text-group-1 .btn.btn-catalogue, #PromArea #CategoryDrivers ul li .btn.btn-findout, #PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{ background: #fff; color: #3abdb3; font-size: 13px; font-weight: 700; height: 40px; line-height: 40px; padding: 0 20px;}
#PromArea #CategoryDrivers ul li .text-group-2 {position: absolute; bottom: 12%; left: 9%; background: #1ba4d8; padding: 12px; font-size: 35px; font-family: 'Montserrat', sans-serif; color: #fff; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-2 span.big-text{ font-size: 48px; font-weight: 700; line-height: 35px;}
#PromArea #CategoryDrivers ul li .btn.btn-findout, #PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{ position: absolute; bottom: 12%; right: 10%; color:#1ba4d8;}
#PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{color:#e42234; padding: 0 15px; right: 7%;}
#PromArea #CategoryDrivers ul li .title-promo{position: absolute;font: bold 32px 'Montserrat';color: #000;text-transform: uppercase;top: 8%;left: 0;width: 100%;padding: 0;line-height: 32px;text-align: center;}
#PromArea #CategoryDrivers ul li .text-group-3{ position: absolute; right: 6%; bottom: 10%;}
#PromArea #CategoryDrivers ul li .text-group-3 .now-price{ background: #e50023; padding: 12px; font-family: 'Montserrat', sans-serif; color: #fff; font-size: 24px; font-weight: 400; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-3 .special-price{ font-size: 48px; font-weight: 700; line-height: 32px;}
#PromArea #CategoryDrivers ul li .text-group-3 .currency{ position: relative; top: -15px;}
#PromArea #CategoryDrivers ul li .text-group-3 .old-price{ color: #999; font-size:24px; font-weight: 700; font-family: 'Montserrat', sans-serif; text-transform: uppercase; text-decoration: line-through;}

/*sign up*/
#SignupArea{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 197px;
    z-index: 0;
    margin: 50px 0;
}
#SignupArea:before{
    background: #000 url(../images/bg-signup.jpg) no-repeat center center;
    bottom: 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    width: 10000px;
    z-index: -1;
    top: 0;
}
#SignupArea h2{ width: 44%; float: left; margin: 60px 0 0; color: #fff; font-size: 36px; line-height: 36px; font-weight: 700; margin-left: 6%;}
#SignupArea form{ width: 50%; float: left; margin-top: 80px;}
#SignupArea form input#signup{color: #fff; font-size: 15px; font-family: 'Lato', sans-serif; font-weight: 300; background-color: transparent; border: none; border-bottom: 1px solid #fff; width: 320px; padding: 0 10px; height: 40px; line-height: 40px; float: left;}
#SignupArea form .btn.alt{ border: 1px solid #fff; color: #fff; font-weight: 700; font-size: 13px; height: 40px; padding: 0 20px;}
.main { overflow-x: hidden;}
.Content { overflow: inherit;}

/*Feature Product*/
#HomeFeaturedProducts{position: relative; margin: 10px -290px 0;}
#HomeFeaturedProducts h3{ text-align: center; font-size: 30px; font-family: "Lato", sans-serif; font-weight: 900;padding-bottom: 80px;}
#HomeFeaturedProducts .owl-carousel .owl-item,
#slider-shopby .owl-loaded .owl-item{box-sizing: border-box;-webkit-box-sizing: border-box;text-align: center;padding-right: 1px;}
#HomeFeaturedProducts .slides li,
#slider-shopby .ProductList li{padding: 15px;box-sizing: border-box;-webkit-box-sizing: border-box;border: 1px solid #f7f7f7;margin: 0 1px 1px 0;background: #fff;}
#HomeFeaturedProducts .slides li:hover,
#slider-shopby .ProductList li:hover{border-color: #000;}

#product-slider .ProductDetails,
#slider-shopby .ProductDetails{height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 15px 0 0;}
.ProductDetails .pname{font: normal 13px 'lato';color: #000;line-height: 20px;text-transform: uppercase;display: inline;}
.owl-item .p-price{font: 700 12px 'lato';color: #222;line-height: 20px;}
.ProductActionAdd .btn{display: inline-block;color: #222;font: 700 13px 'lato';line-height: 20px;padding: 7px 20px;box-sizing: border-box;-webkit-box-sizing: border-box;border: 1px solid #000;background: #fff;}
.ProductActionAdd .btn:hover{box-shadow: 2px 3px 0 0 #000;}

#slider-shopby{margin: 0 -290px 30px;background: none;}
#slider-shopby .ProductList .owl-item > li,
#related-product-slider .ProductList .owl-item > li{width: 100%!important;}

#product-slider,
#slider-shopby{position: relative;}
#product-slider .owl-stage-outer:before,
#product-slider .owl-stage-outer:after,
#slider-shopby:before,
#slider-shopby:after{width: 16.667%;height: 101%;background: rgba(255,255,255,0.75);position: absolute;top: 0;content: "";left: 0;box-sizing: border-box;-webkit-box-sizing: border-box;z-index: 2;}
#slider-shopby:before,
#slider-shopby:after{background: rgba(247,247,247,0.75);}
#product-slider .owl-stage-outer:after,
#slider-shopby:after{left: auto;right: 0;}
.owl-nav .owl-prev,
.owl-nav .owl-next{position: absolute;top: -118px;width: 44px;height: 44px;font-size: 0;text-indent: -999em;display: block;background: url(../images/control-slide.png) no-repeat;left: 20%;background-size: 44px auto;cursor: pointer;}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{box-shadow: 2px 3px 0 0 #000;}
.owl-nav .owl-next{left: auto;right: 20%;background-position: bottom left;}


#slider-shopby .owl-nav .owl-prev,
#slider-shopby .owl-nav .owl-next{top: -226px;}
#slider-shopby .ProductList{margin: 0;}
.btn-view-cat{width: 185px;height: 46px;margin: 0 auto;box-sizing: border-box;border: 1px solid #000;border-radius: 3px;text-align: center;font: normal 12px 'lato';line-height: 16px;padding: 15px 0;display: block;text-transform: uppercase;}
.btn-view-cat:hover{color: #222;background: #fff;}

/*Footer*/
.social-links{ border-bottom: 1px solid #000; padding: 0; position: relative;}
.social-links h3{ padding:0 0 30px 0; font-size: 36px; font-family: "Lato", sans-serif; font-weight: 900; }
.social-links #socnet{ position: absolute; top: 0; right:0;}
.footer-columns{ margin-top: 35px;}
.footer-main .SocialConnect li{margin: 0 0 0 16px;}
.icon-social{width: 38px;height: 38px;}
.icon-social.icon-social-theme{background-image: url(../images/social-ic.png);background-size: auto 38px;opacity: 1;transition: opacity 0.3s;-webkit-transition: opacity 0.3s;}
.icon-social.icon-social-theme:hover{opacity: 0.8;}
.icon-facebook,
.icon-facebook:hover{background-position: 0 0;}
.icon-pinterest,
.icon-pinterest:hover{background-position: -56px 0;}
.icon-twitter,
.icon-twitter:hover{background-position: -110px 0;}
.icon-youtube,
.icon-youtube:hover{background-position: -165px 0;}
.icon-instagram,
.icon-instagram:hover{background-position: -221px 0!important;}

.footer-main h4{font-size: 13px;font-weight: normal;color: #000;}
.footer-main .CategoryList > h4{display: none;}
.footer-main a{font: 300 12px "lato";color: #000;line-height: 22px;}
.footer .footer-columns li{padding: 0;}
.footer-main .inner{border-bottom: 1px solid #000;}
.footer-links{background: none;text-align: center;padding: 0 0 30px;}
.footer-links p{font: 300 10px 'lato';color: #000;line-height: 14px;}
.footer-links a{color: #000;}
.footer-links a:hover{text-decoration: underline;}
.footer-links p{padding: 20px 0 0;}

/*---- MENU TOP
-------------------------------*/
.PageMenu{padding-left: 240px;margin: 0;}
.PageMenu ul{width: 100%;vertical-align: top;}
.PageMenu li ul{background: #fff;border: 1px solid #000;padding: 20px 0;}
.PageMenu li ul:before{display: none;}
.PageMenu .sf-menu li ul li{float: none;width: auto;display: block;padding: 0 20px;}
.PageMenu li ul li a,
.PageMenu li ul li a:hover{color: #000;font: 700 15px 'lato';line-height: 28px;}
.PageMenu li ul li a:hover{text-decoration: underline;}
.PageMenu .sf-menu > li > a.hasSub:after{width: 0;height: 0;border-width: 0 14px 14px;border-style: solid;border-color: transparent transparent #fff;position: absolute;bottom: -2px;left: 50%;margin-left: -14px;content: "";display: none;}
.PageMenu .sf-menu > li.sfHover > a.hasSub:after{display: block;}
#ShopByRoom{padding-top: 80px;position: relative;z-index: 0;margin: 60px 0;}
#ShopByRoom:before{width: 10000px;height: 100%;background: #f7f7f7;z-index: -1;content: "";position: absolute;top: 0;left: 50%;transform: translate(-50%,0);-webkit-transform: translate(-50%,0);-ms-transform: translate(-50%, 0px);}
#ShopByRoom .BlockShopByRoom{padding-bottom: 50px;}
#ShopByRoom .BlockShopByRoom > h2{padding-bottom: 53px;text-align: center;font: 900 30px 'lato';}
#ShopByRoom .sf-menu{display: inline-block;width: 100%;vertical-align: top;}
.PageMenu .sf-menu li,
#ShopByRoom .sf-menu li{float: left;width: 12.5%;margin: 0;text-align: center;padding: 0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;}
#ShopByRoom .sf-menu{text-align: center;}
#ShopByRoom .sf-menu li{float: none;width: auto;display: inline-block;padding: 0 0 37px;}
#home .ProductList .btn,
#home .ProductList .btn:hover{background-color: #fff;}
.PageMenu .sf-menu > li > a,
#ShopByRoom .sf-menu > li > a{font: 900 15px 'lato';line-height: 18px;color: #fff;padding: 92px 0 26px;position: relative;/*background: url(../images/menu-ic-sprites.png) no-repeat;background-size: 713px auto;*/z-index: 151;}
#ShopByRoom .sf-menu > li > a{color: #000;padding: 62px 20px 20px;min-width: 40px;}
.PageMenu .sf-menu > li > a:before,
#ShopByRoom .sf-menu > li > a:before{position: absolute;top: 0;left: 0;width: 100%;height: 92px;font: normal 44px 'icons';text-align: center;line-height: 125px;}
#ShopByRoom .sf-menu > li > a:before{line-height: 66px;}
#ShopByRoom .sf-menu > li.active > a,
#ShopByRoom .sf-menu > li > a:hover{background: #000;color: #fff;}
#ShopByRoom .sf-menu > li > a:hover:after,
#ShopByRoom .sf-menu > li.active > a:after{width: 0;height: 0;border-width: 9px 9px 0;border-style: solid;border-color: #000 transparent transparent;position: absolute;top: 100%;left: 50%;margin: 0 0 0 -9px;content: "";}
/*.PageMenu .sf-menu > li:first-child > a{background-position: 30px -273px;}
.PageMenu .sf-menu > li:nth-child(2) > a{background-position: -65px -273px;}
.PageMenu .sf-menu > li:nth-child(3) > a{background-position: -159px -273px;}
.PageMenu .sf-menu > li:nth-child(4) > a{background-position: -245px -273px;}
.PageMenu .sf-menu > li:nth-child(5) > a{background-position: -340px -273px;}
.PageMenu .sf-menu > li:nth-child(6) > a{background-position: -442px -273px;}
.PageMenu .sf-menu > li:nth-child(7) > a{background-position: -539px -273px;}
.PageMenu .sf-menu > li:nth-child(8) > a{background-position: -644px -273px;}*/
.PageMenu .sf-menu > li:first-child > a:before,
#ShopByRoom .sf-menu > li:first-child > a:before{content: "\e607";}
.PageMenu .sf-menu > li:nth-child(2) > a:before,
#ShopByRoom .sf-menu > li:nth-child(2) > a:before{content: "\e600";}
.PageMenu .sf-menu > li:nth-child(3) > a:before,
#ShopByRoom .sf-menu > li:nth-child(3) > a:before{content: "\e601";}
.PageMenu .sf-menu > li:nth-child(4) > a:before,
#ShopByRoom .sf-menu > li:nth-child(4) > a:before{content: "\e604";}
.PageMenu .sf-menu > li:nth-child(5) > a:before,
#ShopByRoom .sf-menu > li:nth-child(5) > a:before{content: "\e602";}
.PageMenu .sf-menu > li:nth-child(6) > a:before,
#ShopByRoom .sf-menu > li:nth-child(6) > a:before{content: "\e603";}
.PageMenu .sf-menu > li:nth-child(7) > a:before,
#ShopByRoom .sf-menu > li:nth-child(8) > a:before{content: "\e606";}
.PageMenu .sf-menu > li:nth-child(8) > a:before,
#ShopByRoom .sf-menu > li:nth-child(8) > a:before{content: "\e605";}

/*Product page*/
.productPage .main .inner{ border-top: 1px solid #000; padding-top: 30px;}
.Breadcrumb li a{background: url(../images/icon-breadcrumb.jpg) no-repeat 100% 50%; padding-right: 6px; color: #040707; text-transform: uppercase; font-size: 10px; font-family: "Lato", sans-serif; font-weight: 400;}

.TopMenu > .inner, #Header > .inner, .PageMenu > .inner{padding-left: 0!important;padding-right: 0!important;}

#AccountBreadcrumb ~ .page-content #LayoutColumn1,
#EditAccountBreadcrumb  ~ .page-content #LayoutColumn1{width: 19%;padding-right: 0;}
#AccountBreadcrumb ~ .page-content #LayoutColumn2,
#EditAccountBreadcrumb  ~ .page-content #LayoutColumn2{float: right;width: 78%;}
.LittleNotePassword{padding-left: 0;}

/*------ RESPONSIVE
--------------------------------------------------------*/
@media screen and (max-width: 1300px){
.TopMenu li{padding: 14px 15px;}
}
@media screen and (max-width: 1199px){
.main{overflow-x: inherit;}
img{max-width: 100%;height: auto;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner{max-width: 1024px;width: 100%;padding: 0 15px;box-sizing: border-box;-webkit-box-sizing: border-box;}
#home .TopMenu > .inner,#home #Header > .inner, #home .PageMenu > .inner, #home .main > .inner, #home .footer-main > .inner, #home .footer-links > .inner, #home .newsletter-subscription > .inner{padding: 0;}
.TopMenu li{padding: 14px 10px;}
.TopMenu li.last{padding-left: 10px;}
#TileRight ul li .slide-overlay .btn{padding: 0 15px;}
#TileRight ul li .slide-overlay h2.slide-heading{font-size: 20px;}
#TileRight ul li.tile-3 .slide-overlay h2.slide-heading{padding-bottom: 5px;}
#TileRight ul li{margin-bottom: 13px;}

.slide-show .flex-direction-nav{display: none;}

#PromArea{text-align: center;}
#PromArea #CategoryDrivers{text-align: left;width: 98%;}

#SignupArea:before{width: 100%;left: 0;transform: none;}

#HomeFeaturedProducts,
#slider-shopby{margin-left: auto;margin-right: auto;width: 98%;}
#product-slider .owl-stage-outer:before, #product-slider .owl-stage-outer:after, 
#slider-shopby:before, #slider-shopby:after{display: none;}
#ShopByRoom:before{width: 100%;left: 0;transform: none;}
.footer-main > .inner{width: 98%;margin: 0 auto;}
}


@media screen and (max-width: 1023px){
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner{max-width: 768px;width: 100%;padding: 0 15px;box-sizing: border-box;-webkit-box-sizing: border-box;}
#home .TopMenu > .inner,#home #Header > .inner, #home .PageMenu > .inner, #home .main > .inner, #home .footer-main > .inner, #home .footer-links > .inner, #home .newsletter-subscription > .inner{padding: 0;}
.TopMenu li.js-drawermenu-store-phone-container{width: 140px;white-space: normal;line-height: 20px;}
.TopMenu li.top-header-search{width: 28%;}
.TopMenu li.top-header-store-locations a{padding: 0 10px 1px;line-height: 29px;}
.header-logo{width: 141px;height: 80px;margin-bottom: 0;}
.PageMenu{padding-left: 141px;}
.PageMenu .sf-menu > li > a{padding: 56px 0 6px;font-size: 13px;}
.PageMenu .sf-menu > li > a:before{font-size: 36px;line-height: 66px;height: 50px;}
.top-slide ul li{width: 32.7%;}
.slide-show{width: 100%;margin: 0;float: none;}
#TileRight{float: none;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;padding-left: 15px;}
#TileRight ul{display: inline-block;width: 100%;vertical-align: top;}
#TileRight ul li{width: 33.33%;float: left;box-sizing: border-box;-webkit-box-sizing: border-box;padding-right: 15px;}
#TileRight ul li.tile-2 .slide-overlay h2.slide-heading{padding-bottom: 8px;}
#TileRight ul li.tile-3 .slide-overlay .slide-text{margin-bottom: 8px;}

#PromArea #x3-row ul li{width: 32.7%;}
#SignupArea h2{width: 35%;font-size: 26px;}
#SignupArea form{width: 58%;}

.ProductActionAdd .btn{padding-left: 10px;padding-right: 10px;}
.footer-main > .inner{width: 96%;}
.footer-columns .grid__item,
.footer-columns .grid__item:last-child{width: 25%;text-align: left;}


#AccountBreadcrumb ~ .page-content #LayoutColumn1,
#EditAccountBreadcrumb ~ .page-content #LayoutColumn1{float: left;}
}

@media screen and (max-width: 767px){
.topmenu-mb{display: inline-block;width: 100%;height: 45px;border-bottom: 1px solid #ddd;padding: 7px 11px 0;box-sizing: border-box;-webkit-box-sizing: border-box;margin: 0 0 87px;vertical-align: top;}
#home .TopMenu > .inner,#home #Header > .inner, #home .PageMenu > .inner, #home .main > .inner, #home .newsletter-subscription > .inner{padding: 0;}
.topmenu-mb .phoneIcon{font: 700 12px 'lato';color: #000;line-height: 29px;float: left;}
.topmenu-mb .store-locate-mb{float: right;}
.topmenu-mb .store-locate-mb a{display: block;font: normal 12px 'lato';line-height: 16px;padding: 7px 16px;color: #fff;background: #3abdb3;border-radius: 30px;-webkit-border-radius: 30px;}
.topmenu-mb .store-locate-mb a:hover{background: #5dd9d0;}
.TopMenu li.js-drawermenu-store-phone-container,
.TopMenu li.top-header-contact,
.TopMenu li.top-header-store-locations{display: none;}

.top-slide{background: none;}

.header{position: relative;padding-bottom: 15px;}
#Header{position: absolute;top: 45px;left: 0;width: 100%;height: 87px;background: none;border: none;border-bottom: 1px solid #ddd;}
#Header>.inner{background: none;}
.header-logo{width: 153px;height: 87px;}
#ToggleMenu{display: block;}
#ToggleMenu{float: right;width: 62px;height: 87px;text-align: center;font-size: 28px;box-sizing: border-box;-webkit-box-sizing: border-box;padding-top: 23px;}
#ToggleMenu span{display: block;font: 700 12px 'lato';color: #000;line-height: 20px;}
.PageMenu{display: none;}

.TopMenu{border-bottom: 1px solid #ddd;}
.TopMenu li{box-sizing: border-box;-webkit-box-sizing: border-box;height: 56px;}
.TopMenu li.top-header-search{width: 63%;}
.TopMenu li.First{width: 18%;}
.TopMenu li.CartLink{width: 19%;padding-right: 14px;}
.TopMenu li.First a, .TopMenu .CartLink a{padding-right: 0;font-size: 0;}
.TopMenu li.First a:before, .TopMenu .CartLink a:before{display: none;}
.TopMenu li.First a{background: url(../images/acc-ic.png) no-repeat center;background-size: 23px auto;}
.icon-cart{width: 26px;height: 26px;margin: 3px 0 0;padding: 0;background-size: 26px auto;}

.main{padding: 0 15px;}
.top-slide{display: none;}
.slide-show{padding-bottom: 20px;}
.slide-show .flex-control-nav{text-align: center;left: 0;margin: 0;bottom: -9px!important;}
.slide-show h2, .slide-show .slide-text{font-size: 7vw;padding: 5px 10px;line-height: 1;font-weight: 400;margin: 0;}
.slide-show .slide-overlay{right: auto;width: 206px;top: 20%;}
.slide-show .slide-button .btn{font-size: 12px;line-height: 40px;height: 40px;margin: 10px 0 0;}

#TileRight{padding: 0;text-align: center;}
#TileRight ul li{width: auto;padding: 0;float: none;display: inline-block;}
#TileRight ul li.tile-2 .slide-overlay{text-align: left;}
#TileRight ul li .slide-overlay{width: 100%;}

#PromArea{margin: 0;padding: 0 0 55px;}
#PromArea #CategoryDrivers{display: none;}
#PromArea #x3-row ul{padding: 0;border: none;margin: 0;}
#PromArea #x3-row ul li,
#PromArea #x3-row ul li:nth-child(2){display: block;width: 100%;border: none;border-bottom: 1px solid #030303;padding: 30px 0;}

#SignupArea{display: none;}
#HomeFeaturedProducts, #slider-shopby{margin: 0;width: 100%;}
.owl-nav .owl-prev, .owl-nav .owl-next{top: -73px;left: 0;}
.owl-nav .owl-next{left: auto;right: 0;}
#HomeFeaturedProducts h3{padding-bottom: 37px;}
#product-slider .ProductDetails, #slider-shopby .ProductDetails{height: 40px;text-overflow: inherit;white-space: normal;}
#product-slider .ProductActionAdd{display: none;}

#slider-shopby,
#ShopByRoom:before{display: none;}
#ShopByRoom{padding: 50px 0 30px;margin: 0;}
#HomeFeaturedProducts h3{font-size: 22px;}
#ShopByRoom .BlockShopByRoom > h2{font-size: 22px;line-height: 1;padding-bottom: 30px;}
#ShopByRoom .sf-menu{padding: 18px 14px;background: #f7f7f7;box-sizing: border-box;-webkit-box-sizing: border-box;}
#ShopByRoom .sf-menu li{float: left;width: 50%;border-left: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;padding: 0;}
#ShopByRoom .sf-menu li:nth-child(2n+1){border-left: none;}
#ShopByRoom .sf-menu li:nth-child(2),
#ShopByRoom .sf-menu li:first-child{border-top: none;}
#ShopByRoom .sf-menu > li > a{font-size: 13px;font-weight: 400;padding: 67px 10px 15px;}
#ShopByRoom .sf-menu > li.active > a, #ShopByRoom .sf-menu > li > a:hover{background: none;color: #000;}
#ShopByRoom .sf-menu > li > a:before{line-height: 80px;}
#ShopByRoom .sf-menu > li > a:hover:after, #ShopByRoom .sf-menu > li.active > a:after{display: none;}
.btn-view-cat{display: none;}
#ShopByRoom .BlockShopByRoom{padding-bottom: 0;}

.footer-main > .inner{width: 100%;padding: 10px 15px 0;box-sizing: border-box;-webkit-box-sizing: border-box;border: none;}
.social-links{border-bottom: none;}
.social-links h3{font-size: 24px;text-align: center;padding-bottom: 15px;}
.social-links #socnet{position: static;}
.footer-main .SocialConnect ul{padding: 0 0 20px;float: none;}
.footer-main .SocialConnect li{margin: 0 8px;}
.footer-columns{margin: 0;border-bottom: 1px solid #000;}
.footer .footer-columns ul{padding: 0 0 15px;float: none;}
.footer .footer-columns li{float: none;}
.footer-columns .grid__item, .footer-columns .grid__item:last-child{float: none;width: 100%;padding: 0;}
.footer-main h4{line-height: 16px;padding: 10px 36px 10px 0;border-top: 1px solid #000;position: relative;}
.footer-main h4:before{width: 36px;height: 36px;position: absolute;top: 0;right: 0;content: "+";font: 700 15px 'lato';color: #000;line-height: 36px;text-align: center;}
.footer-main h4.active:before{content: "-";}
.footer-main .footer-columns .grid__item > h4 + div{display: none;}
.footer-main .footer-columns .Block{margin: 0;}
.footer-links{padding: 0 15px 30px;}
.footer-links a{font-size: 10px;font-weight: 300;}

.backToTop{display: none!important;}

.page.off-screen{-webkit-transform: translateX(-266px);-ms-transform: translateX(-266px);transform: translateX(-266px);width: 100%;}
#DrawerMenu{width: 266px;right: 0;background: #040707;}
#DrawerMenu h3{display: none;}
#DrawerMenu a{font: 900 15px 'lato';color: #fff;line-height: 22px;padding: 14px 0 14px 79px;}
#DrawerMenu .sf-menu > li > a:before{width: 74px;height: 50px;font: normal 28px 'icons';line-height: 50px;position: absolute;top: 0;left: 5px;text-align: center;content: "\e607";}
#DrawerMenu .sf-menu > li:first-child > a:before{content: "\e607";}
#DrawerMenu .sf-menu > li:nth-child(2) > a:before{content: "\e600";}
#DrawerMenu .sf-menu > li:nth-child(3) > a:before{content: "\e601";}
#DrawerMenu .sf-menu > li:nth-child(4) > a:before{content: "\e604";}
#DrawerMenu .sf-menu > li:nth-child(5) > a:before{content: "\e602";}
#DrawerMenu .sf-menu > li:nth-child(6) > a:before{content: "\e603";}
#DrawerMenu .sf-menu > li:nth-child(7) > a:before{content: "\e606";}
#DrawerMenu .sf-menu > li:nth-child(8) > a:before{content: "\e605";}
#DrawerMenu li > ul a{padding: 3px 0 3px 79px;font: 700 14px 'lato';line-height: 22px;}
#DrawerMenu li > ul li{border: none;}
#DrawerMenu .subcat-expand{width: 100%;height: 100%;border: none;}
#DrawerMenu .subcat-expand:after{content: "";display: none;}
#DrawerMenu .drawer-subcat{background: none;}
#DrawerMenu .drawer-subcat.expanded{border: none;padding: 0 0 10px;}


#AccountBreadcrumb ~ .page-content #LayoutColumn1,
#AccountBreadcrumb ~ .page-content #LayoutColumn2,
#EditAccountBreadcrumb ~ .page-content #LayoutColumn1,
#EditAccountBreadcrumb ~ .page-content #LayoutColumn2{float: none;width: 100%;}
form .HorizontalFormContainer dd{width: 100%;}
}
