@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: "Lato Black";
    src: url('Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('Lato-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('Lato-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner{ max-width:1182px;}

/*Style header*/
.header{ margin:0; border: none;}
#Header{ background: #040707; margin: 0;}
#Header>.inner{ background: #040707;}
.TopMenu .inner{ padding: 0;}
.TopMenu li{ float: left; border-left: 1px solid #ddd; height: 30px; line-height:30px; padding: 14px 21px; border-bottom: 1px solid #ddd;}
.TopMenu, .TopMenu a{ font-size: 12px; font-family: "Lato",Arial,Sans-serif; color: #000; font-weight: 400;}
.TopMenu li.js-drawermenu-store-phone-container{  border-right: 1px solid #ddd; }
.phoneIcon{ font-size: 14px; color: #000;font-family: "Lato",Arial,Sans-serif; font-weight: 700; }
.TopMenu li.top-header-search{ width: 34.3%; background: #f7f7f7; border: none;}
#SearchForm{ width: 100%; border:none; background-color: #f7f7f7; }
#SearchForm input{ height: 30px; padding: 0;}
#SearchForm input.Textbox{  background-color: #f7f7f7; font-size: 18px; color: #7e7e7e; font-family: "Lato",Arial,Sans-serif; font-weight: 300;}
#SearchForm .Button{ height: 30px; background: url(../images/icon-search.png) 50% 50% no-repeat transparent;}
.header-logo{ width: 240px; height: 136px;}
.header-logo a, .header-logo a:hover{ display: block;}

/*Top slide*/
.top-slide{ background: #fff url(../images/bg-top-slide.png) top left no-repeat; padding: 30px 0; max-width: 1182px; margin: 0 auto;}
.top-slide ul{ margin:0;}
.top-slide ul li{ width: 33%; display: inline-block; list-style-type: none; text-align: center; border-left: 1px solid #000;}
.top-slide ul li:first-child{ border-left: none;}
.top-slide ul li h3{ color: #000; font-size: 15px; font-weight: 700; padding:0;}
.top-slide ul li span{ color: #999; display:inline-block; width: 100%;}

/*Slide show*/
.slide-show{ width: 74.53%; float:left; margin: 0 1.67% 0 0;}
.slide-show .slide-overlay{left: 9%; text-align: left; width: 40%;}
.slide-show h2, .slide-show .slide-text{ text-transform: uppercase; background: #040707; font-size: 68px; line-height: 58px; font-family: 'Montserrat', sans-serif; font-weight:700; letter-spacing: -2px; text-shadow: none;}
.slide-show h2{ padding: 10px 15px 20px;}
.slide-show .slide-text{ padding: 0 15px 10px; margin-top: -20px;}
.slide-show .slide-text{ width:76%;}
.slide-show .slide-button .btn{ background-color: #3abdb3; height: 47px; line-height: 47px; font-size: 13px; font-weight:700;}
.flex-direction-nav .flex-prev{ background: url(../images/left-arrow.png) no-repeat 20px center;}
.flex-direction-nav .flex-next{ background: url(../images/right-arrow.png) no-repeat 36px center;}
.flexslider:hover .flex-next, .flexslider:hover .flex-prev{opacity: 0.5;}
.flex-control-paging li a {border: 2px solid #d6d6d7;}
.flex-control-paging li a:hover { background: #d6d6d7; }
.flex-control-paging li a.flex-active { background: #d6d6d7; }
.flex-control-nav{ position: absolute; left: 15px; text-align: left;}
#TileRight{ width: 23.8%; float: left;}
#TileRight ul{ margin:0;}
#TileRight ul li{ list-style-type: none; position: relative; margin-bottom: 17px;}
#TileRight ul li .slide-overlay{ position: absolute; }
#TileRight ul li .slide-overlay h2.slide-heading{padding: 0 0 15px 0; font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 24px; font-weight: 400; color: #fff; text-transform: uppercase; letter-spacing: 1px;}
#TileRight ul li .slide-overlay .btn{ background-color: transparent; border: 1px solid #fff; height: 40px; line-height: 40px; padding: 0 22px;}
#TileRight ul li.tile-1 .slide-overlay{ text-align: center; top: 20%;}
#TileRight ul li.tile-1 .slide-overlay h2.slide-heading{ width: 80%; margin: 0 auto;}
#TileRight ul li.tile-1 .slide-overlay .button-locate span{ display: inline-block; margin: 0 5px;}
#TileRight ul li.tile-2 .slide-overlay{ top: 10%; left: 7%;}
#TileRight ul li.tile-2 .slide-overlay h2.slide-heading{ width: 58%;}
#TileRight ul li.tile-3 .slide-overlay{ top: 10%; text-align: center;}
#TileRight ul li.tile-3 .slide-overlay h2.slide-heading{ width: 60%; margin: 0 auto;}
#TileRight ul li.tile-3 .slide-overlay .slide-text{ font-size: 12px; margin-bottom: 15px; color: #fff;}

/*block homepage*/
#PromArea{ float: left; width: 100%; border-top: 1px solid #030303; margin-top: 22px;}
#PromArea #x3-row ul{ margin: 0 0 20px 0; width: 100%; border-bottom: 1px solid #030303; padding: 30px 0;}
#PromArea #x3-row ul li{ width: 33%; display: inline-block; list-style-type: none; text-align: center; border-left: 1px solid #030303;}
#PromArea #x3-row ul li:first-child{ border-left: none;}
#PromArea #x3-row ul li .slide-heading{ font-size: 24px; color: #000; font-family: 'Montserrat', sans-serif; font-weight: 400; text-transform: uppercase; letter-spacing: -1px; padding-bottom: 5px;}
#PromArea #x3-row ul li a{ border: 1px solid #030303; text-transform: uppercase; font-size: 13px; font-weight: 700; text-align: center; width: 120px; height: 20px; display: inline-block; margin: 0 auto;line-height: 21px;padding: 10px 0}
#PromArea #x3-row ul li p{ margin-bottom: 15px; font-size: 12px;}
#PromArea #CategoryDrivers{ float: left; width: 100%; margin-top: 22px;}
#PromArea #CategoryDrivers ul{ width: 100%; float: left; margin: 0;}
#PromArea #CategoryDrivers ul li{ list-style-type: none; float: left; width: 50%; margin: 0 auto 20px;text-align: left; position: relative;}
#PromArea #CategoryDrivers ul li:nth-child(2n){ text-align: right;}
#PromArea #CategoryDrivers ul li .text-group-1 {position: absolute; left: 7%; bottom: 15%;}
#PromArea #CategoryDrivers ul li .text-group-1 div{ background: #3abdb3; padding: 20px; font-family: 'Montserrat', sans-serif; color: #fff; font-size: 24px; font-weight: 400; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-1 span.big-text{ font-size: 58px; font-weight: 700; line-height: 46px;}
#PromArea #CategoryDrivers ul li .text-group-1 .btn.btn-catalogue, #PromArea #CategoryDrivers ul li .btn.btn-findout, #PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{ background: #fff; color: #3abdb3; font-size: 13px; font-weight: 700; height: 40px; line-height: 40px; padding: 0 20px;}
#PromArea #CategoryDrivers ul li .text-group-2 {position: absolute; bottom: 12%; left: 9%; background: #1ba4d8; padding: 12px; font-size: 35px; font-family: 'Montserrat', sans-serif; color: #fff; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-2 span.big-text{ font-size: 48px; font-weight: 700; line-height: 35px;}
#PromArea #CategoryDrivers ul li .btn.btn-findout, #PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{ position: absolute; bottom: 12%; right: 10%; color:#1ba4d8;}
#PromArea #CategoryDrivers ul li .btn.btn-shopcatalogue{color:#e42234; padding: 0 15px; right: 7%;}
#PromArea #CategoryDrivers ul li .text-group-3{ position: absolute; right: 6%; bottom: 10%;}
#PromArea #CategoryDrivers ul li .text-group-3 .now-price{ background: #e50023; padding: 12px; font-family: 'Montserrat', sans-serif; color: #fff; font-size: 24px; font-weight: 400; text-transform: uppercase;}
#PromArea #CategoryDrivers ul li .text-group-3 .special-price{ font-size: 48px; font-weight: 700; line-height: 32px;}
#PromArea #CategoryDrivers ul li .text-group-3 .currency{ position: relative; top: -15px;}
#PromArea #CategoryDrivers ul li .text-group-3 .old-price{ color: #999; font-size:24px; font-weight: 700; font-family: 'Montserrat', sans-serif; text-transform: uppercase; text-decoration: line-through;}

/*sign up*/
#SignupArea{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 197px;
    z-index: 0;
    margin: 50px 0;
}
#SignupArea:before{
    background: #000 url(../images/bg-signup.jpg) no-repeat center center;
    bottom: 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px);
    width: 10000px;
    z-index: -1;
    top: 0;
}
#SignupArea h2{ width: 44%; float: left; margin: 60px 0 0; color: #fff; font-size: 36px; line-height: 36px; font-weight: 700; margin-left: 6%;}
#SignupArea form{ width: 50%; float: left; margin-top: 80px;}
#SignupArea form input#signup{color: #fff; font-size: 15px; font-family: 'Lato', sans-serif; font-weight: 300; background-color: transparent; border: none; border-bottom: 1px solid #fff; width: 320px; padding: 0 10px; height: 40px; line-height: 40px; float: left;}
#SignupArea form .btn.alt{ border: 1px solid #fff; color: #fff; font-weight: 700; font-size: 13px; height: 40px; padding: 0 20px;}
.main { overflow-x: hidden;}
.Content { overflow: inherit;}

/*Feature Product*/
#HomeFeaturedProducts{ width: 100%; float: left; position: relative; margin-top: 10px;}
#HomeFeaturedProducts h3{ text-align: center; font-size: 30px; font-family: "Lato", sans-serif; font-weight: 900;}


/*Footer*/
.social-links{ border-bottom: 1px solid #000; padding: 0; position: relative;}
.social-links h3{ padding:0 0 30px 0; font-size: 36px; font-family: "Lato", sans-serif; font-weight: 900; }
.social-links #socnet{ position: absolute; top: 0; right:0;}
.footer-columns{ margin-top: 35px;}

/*---- MENU TOP
-------------------------------*/
.PageMenu{padding-left: 250px;margin: 0;}
.PageMenu ul{width: 100%;vertical-align: top;}
.PageMenu .sf-menu li{float: left;width: 12.5%;margin: 0;text-align: center;padding: 0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;}
.PageMenu .sf-menu > li > a{font: 900 15px 'lato';line-height: 18px;color: #fff;padding: 92px 0 26px;background: url(../images/menu-ic-sprites.png) no-repeat;background-size: 713px auto;}
.PageMenu .sf-menu > li:first-child > a{background-position: 30px -273px;}
.PageMenu .sf-menu > li:nth-child(2) > a{background-position: -65px -273px;}
.PageMenu .sf-menu > li:nth-child(3) > a{background-position: -159px -273px;}
.PageMenu .sf-menu > li:nth-child(4) > a{background-position: -245px -273px;}
.PageMenu .sf-menu > li:nth-child(5) > a{background-position: -340px -273px;}
.PageMenu .sf-menu > li:nth-child(6) > a{background-position: -442px -273px;}
.PageMenu .sf-menu > li:nth-child(7) > a{background-position: -539px -273px;}
.PageMenu .sf-menu > li:nth-child(8) > a{background-position: -644px -273px;}


