.productPage #CategoryDrivers ul > li:nth-child(3),
.productPage #CategoryDrivers ul > li:nth-child(4),
.productPage #x3-row { display : none;}
.productPage #PromArea { border-top : none;}
.productPage .addto .BulkDiscount,
.productPage .addto #SideProductAddToWishList {width : 100%;display : block;}
.productPage .PrimaryProductDetails .btn.add-to-cart,
.productPage .addto #SideProductAddToWishList input { width : 100%;}
.productPage .left-content { width : 65%;}
.productPage .PrimaryProductDetails .ProductMain { width : 34%;padding : 0;}
.productPage .PrimaryProductDetails .btn.add-to-cart {font-family: 'Montserrat', sans-serif;font-size : 18px;font-weight : 700;color : #fff;background-color : #000000;min-height : 50px;}
.productPage .addto #SideProductAddToWishList input {font-family: 'Montserrat', sans-serif;font-size : 14px;font-weight : 400;color : #242424;min-height : 50px; border:1px solid #000;}
.productPage .addto {border-top : none;}
.productPage #ProductDetails h1 { color : #222222;font-family: 'Montserrat', sans-serif;font-size : 60px;font-weight : 400;text-transform : capitalize;line-height : 60px; letter-spacing : -2px; }
.productPage #SideProductRelated h2 {color : #000000;font-size : 30px;font-weight : 900;}
.productPage .left-content .ProductList .ProductImage a { height : auto;}
.productPage .Breadcrumb li{ padding: 0 6px 0 0}
.productPage .Breadcrumb li a{ padding-right: 10px;}
.productPage .addthis_default_style .at4-icon{ width: 32px; height: 32px; background-size: 32px !important;}
.productPage .TabNav{border-bottom: 1px solid #000;}
.productPage .TabNav li a{ padding: 0 8px; background: none; border: none; text-transform: uppercase; color: #222; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; position: relative}
.productPage .TabNav li a::before {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 6px 0;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    top: 100%;
    width: 0;
    display:none;
}
.productPage .TabNav li:hover a::before, .productPage .TabNav li.open a::before{ display: block}
.productPage #tabs-content{ color: #222; font-size: 12px; font-family:"Lato",Arial,Sans-serif; font-weight: 400;}
.productPage #tabs-content strong{ text-transform: uppercase; font-weight: 700;}
.productPage .productOptionPickListSwatch .swatchColours{ border: none !important; }
.productPage .productOptionPickListSwatch .swatchColour{ width: 56px !important; height: 56px !important;}